package pages

import "github.com/ngsalvo/datastar-rick-and-morty/web/layouts"

templ Home() {
	@layouts.Page("Add some page title") {
		<div class="flex flex-col h-screen items-center justify-center">
			<h1 class="text-primary">Rick & Morty</h1>
		</div>
	}
}
